body {
	background: #fcfcfc;
	font-size: 18px;
	position: relative;
	height: 100%;
	bottom: 8px;
	left: 0px;
}

div.scrollmenu {
  background-color: #222b40;
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  height: 5px;
  text-decoration: none;
	}

div.scrollmenu a {
	position: relative;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}


div.scrollmenu a:hover {
  background-color: #777;
}
